.personagens{
    border-top: 2px dashed black;
    padding: 2rem 0;
}
.personagens h2{
    text-align: center;
    font-family: var(--font-titulo);
    font-size: 5rem;
}
.personagens .cards{
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}