.banner{
    text-align: center;
    padding: 2rem;
    background-color: #A65A2E;    
}
.banner img{
    border-radius: 2rem;
    box-shadow: 1px 1px 9px #080A0D;
    width: 80%;
}

@media screen and (max-width: 800px) {
    
    .banner{
        padding: 0;
    }
    .banner img{
     width: 100%;
     border-radius: 0;
    }
     
   }